/* .App {
  text-align: center;
} */

body {
  background-image: url('pool_table.png');
  color: white

}
.table-container {
  display: flex;
  justify-content: center;
  
}

#Expense , #Price , #seller, #date{
  border-radius: 5px;
  padding: 5px;
}
h2{
  display: flex;
  align-items: flex-start;
}
table {
  background-color: #55a630
}

.form {
  
  padding: 0 60px;
  margin: 0 220px;
}

td, th {
  border: 1px dotted #FFFFFF;
 padding: 1rem;
}

.title {
  text-align: center;
  
}

