/* .App {
  text-align: center;
} */

body {
  background-color: forestgreen;
  color: white
}
.table-container {
  display: flex;
  justify-content: center;
}

.form {
  background-color: #440066 ;
  padding: 0 50px;
  margin: 0 230px;
}

td, th {
  border: 1px dotted #FFFFFF;
 padding: 1rem;
}

.title {
  text-align: center;
}

